{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                        <div>
                            <h4 class="mb-3">Category</h4>
                        </div>
                        <a href="{{ path('app_category_new') }}" class="btn btn-primary add-list">
                            <i class="las la-plus mr-3"></i>Nueva cateogoria
                        </a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="table-responsive mb-3">
                        <table class="table mb-0 tbl-server-info no-footer" role="grid">
                            <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data" role="row">
                                <th class="text-left">Nombre</th>
                                <th class="text-left">Código</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td class="text-left">{{ category.name }}</td>
                                    <td class="text-left">{{ category.id }}</td>
                                    <td class="text-right">
                                        <a class="badge bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" href="{{ path('app_category_edit', {'id': category.id}) }}">
                                            <i class="ri-pencil-line"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">sin registros</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ path('app_category_index') }}">Volver</a>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
