{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modificar stock del producto: {{ product.name }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.stock) }}

    <button class="btn">{{ button_label|default('Guardar cambios') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_product_index') }}">Volver a la lista de productos</a>
{% endblock %}